main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#second_part{
    width: 50%;
    display: flex;
    justify-content: center;
    width: 80%;
}


.container h2{
    font-size: 2.6rem;
    font-weight: 900;
    font-family: "Nunito Sans", Sans-serif;
    color: var(--color_three);
    border: 2px solid black;
    border-radius: 7px;
    margin: 2rem 0;
    background-color: var(--color_two);
    padding: 1rem 1rem;
    text-align: center;
    margin-top: 5rem;
    
}

.container1 li{
    font-size: 2.2rem;
    line-height: 1.6;
    font-weight: 900;
    margin-left: 2.5rem;
}


.container2 li{
    font-size: 2.7rem;
    line-height: 1.6;
    font-weight: 900;
    margin-left: 2.5rem;
}

.container2 ul{
    margin-bottom: 2rem;

}
